  .nav-menu {
  text-align: right;
  }

  .nav-spacing {
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  color: lightgreen;
  margin: 0 0 0 10px;
  }

  .book-report-header {
    text-align: center;
    margin: 0 0 80px;
  }

  .image-twitter-logo {
  text-decoration: none;
  }

  .image-center {
    display: block;
    margin: 0 auto;
  }

  .book-report-container {
    width: 500px;
    margin: 20px auto;
    padding: 30px; background-color: rgb(93, 91, 91);
  }

  .book-cover {
    float: left;
    margin: 0px 40px 0px 0px;
  }

  .quote {
    font-style: italic;
    font-size: 20px;
    padding: 2px 10px;
  }

  .book-report-opener {
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    color: red;
  }

  td {
    padding: 10px;
  }